@import url("https://fonts.googleapis.com/css?family=kanit&display=swap");
body {
  /* font-family: kanit, serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(0deg, #1b5e6f 0%, #9e2190 100%);
}

p {
  color: white;
}

.nav-link {
  color: aquamarine;
}

.navbar-nav .nav-link.active {
  color: rgb(159, 159, 159);
}

.navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  background-color: rgb(153, 153, 153);
}

.sidebar {
  color: rgb(255, 255, 255);
  background: linear-gradient(0deg, #1b5e6f 0%, #9e2190 100%);
}

.card {
  background: linear-gradient(0deg, #1b5e6f 0%, #9e2190 100%);
}

.card a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.slide-text,
.footer-text {
  color: rgb(255, 255, 255);
  margin: auto auto;
}

footer,
.btn-outline-primary {
  background: linear-gradient(0deg, #1b5e6f 0%, #9e2190 100%);
}

.media-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-anim {
  animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@media (max-width: 755xp) {
  .carousel-indicators {
    display: none;
  }
}

.contact-item {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.contact-item .icon {
  font-size: 24px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.contact-item .info {
  font-size: 18px;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(0deg, #1b5e6f 0%, #9e2190 100%);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.contacts-section {
  min-height: 100vh;
  padding: 200px;
  display: flex;
  flex-direction: column;
}

.map-container {
  width: 100%;
  height: 600px; /* Выберите подходящую высоту для карты */
}

/* Медиа-запрос для экранов с шириной до 576 пикселей (мобильные устройства) */
@media (max-width: 576px) {
  .contact-item {
    margin-bottom: 1rem; /* Уменьшение отступа между элементами контактной информации */
  }

  .contact-item .icon {
    font-size: 20px; /* Уменьшение размера иконок */
    width: 40px; /* Уменьшение размера круглых иконок */
    height: 40px; /* Уменьшение размера круглых иконок */
  }

  .contact-item .info {
    font-size: 16px; /* Уменьшение размера текста */
  }

  .contacts-section {
    padding: 1rem; /* Уменьшение внутренних отступов секции контактов */
  }

  .map-container {
    height: 300px; /* Уменьшение высоты карты */
  }
}

.container {
  flex: 1;
  padding: 100px;
}

.info,
h2,
h1,
.form-label {
  color: white !important;
}
